* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #fad9b0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  body h1 {
    text-align: center;
    margin: 3rem; }
  body h2 {
    text-align: center; }
  body ul {
    list-style: none; }
  body a {
    text-decoration: none;
    color: #262623; }
  body .titulos {
    background-color: #fae4c9;
    margin: 0px;
    border: 3px #4a4848 solid;
    margin: 10px 40px; }
  body .productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px; }
    body .productos .card {
      width: 17%;
      background-color: bisque; }
      body .productos .card .card-title {
        font-family: 'Times New Roman', Times, serif;
        background-color: black;
        border-radius: 4px;
        color: beige;
        text-align: center; }
  body header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1.5fr 1.5fr;
    grid-auto-flow: row;
    grid-template-areas: "cabeza cabeza cabeza cabeza" "imagenlogo menu menu menu" "imagenlogo menu menu menu"; }
    body header .cabeza {
      grid-area: cabeza;
      background-color: #412e11;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      body header .cabeza .buscador {
        border-radius: 2210px;
        width: 400px;
        height: 50px; }
      body header .cabeza .lista {
        list-style: none;
        display: flex;
        flex-direction: row; }
      body header .cabeza .redes-sociales {
        justify-content: center;
        align-items: end; }
        body header .cabeza .redes-sociales .redes {
          width: 40px; }
    body header .imagenlogo {
      grid-area: imagenlogo;
      display: flex;
      justify-content: end;
      background-color: #f9d1a0; }
      body header .imagenlogo .logo {
        margin: 4px;
        border: 4px #412e11 double;
        border-radius: 50%;
        width: 200px; }
    body header .menu {
      grid-area: menu;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #f9d1a0; }
      body header .menu .navegacion-li {
        padding: 25px;
        margin-left: 12rem;
        border: #412e11 2px solid;
        border-radius: 10px; }
      body header .menu .nav-link {
        color: black; }
  body .main-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo-index titulo-index titulo-index" "estilos-populares estilos-populares estilos-populares" "ofertas-destacadas ofertas-destacadas ofertas-destacadas"; }
    body .main-index .titulo-index {
      grid-area: titulo-index;
      background-image: url(../image/logo/2b7b11_14.jpg);
      display: flex;
      justify-content: center;
      align-items: center; }
    body .main-index .estilos-populares {
      grid-area: estilos-populares;
      background-color: #6b4d1f; }
      body .main-index .estilos-populares .cortes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly; }
        body .main-index .estilos-populares .cortes .carousel {
          width: 750px;
          margin-top: 2rem; }
          body .main-index .estilos-populares .cortes .carousel .color-carrusel {
            color: black;
            background-color: #fae4c9; }
    body .main-index .ofertas-destacadas {
      grid-area: ofertas-destacadas;
      background-color: #412e11;
      padding-top: 2rem; }
  body .main-estilos {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo-estilos titulo-estilos titulo-estilos titulo-estilos titulo-estilos" "filtros estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino" "filtros estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino"; }
    body .main-estilos .titulo-estilos {
      grid-area: titulo-estilos;
      background-image: url(../image/logo/2b7b11_14.jpg);
      display: flex;
      justify-content: center; }
    body .main-estilos .filtros {
      grid-area: filtros;
      background-color: #7e7e7e; }
    body .main-estilos .estilos-corte-masculino {
      grid-area: estilos-corte-masculino;
      background-color: #412e11; }
    body .main-estilos .estilos-corte-femenino {
      grid-area: estilos-corte-femenino;
      background-color: #6b4d1f; }
  body .main-tienda {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo-tienda titulo-tienda titulo-tienda titulo-tienda titulo-tienda" "filtros-tienda tienda-promociones tienda-promociones tienda-promociones tienda-promociones" "filtros-tienda tienda-geles tienda-geles tienda-geles tienda-geles" "filtros-tienda tienda-tijeras tienda-tijeras tienda-tijeras tienda-tijeras" "filtros-tienda tienda-tintes tienda-tintes tienda-tintes tienda-tintes"; }
    body .main-tienda .titulo-tienda {
      grid-area: titulo-tienda;
      background-image: url(../image/logo/2b7b11_14.jpg);
      display: flex;
      justify-content: center; }
    body .main-tienda .filtros-tienda {
      grid-area: filtros-tienda;
      background-color: #7e7e7e; }
    body .main-tienda .tienda-promociones {
      grid-area: tienda-promociones;
      background-color: #412e11; }
    body .main-tienda .tienda-geles {
      grid-area: tienda-geles;
      background-color: #6b4d1f; }
    body .main-tienda .tienda-tijeras {
      grid-area: tienda-tijeras;
      background-color: #412e11; }
    body .main-tienda .tienda-tintes {
      grid-area: tienda-tintes;
      background-color: #6b4d1f; }
  body .main-turnos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo-turnos titulo-turnos titulo-turnos titulo-turnos" "costado-izquierdo formulario formulario costado-derecho" "costado-izquierdo formulario formulario costado-derecho" "costado-izquierdo formulario formulario costado-derecho"; }
    body .main-turnos .titulo-turnos {
      grid-area: titulo-turnos;
      background-image: url(../image/logo/2b7b11_14.jpg); }
    body .main-turnos .costado-izquierdo {
      grid-area: costado-izquierdo; }
    body .main-turnos .costado-derecho {
      grid-area: costado-derecho; }
    body .main-turnos .formulario {
      grid-area: formulario;
      background-color: #412e11;
      color: #fad9b0;
      margin: 40px 10px;
      padding: 10px 30px;
      border-radius: 10px; }
      body .main-turnos .formulario .enviar {
        display: flex;
        justify-content: center;
        margin-top: 20px; }
  body .main-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo-nosotros titulo-nosotros titulo-nosotros titulo-nosotros" "descripcion-nosotros descripcion-nosotros descripcion-nosotros descripcion-nosotros" "nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion" "empleados-nosotros empleados-nosotros empleados-nosotros empleados-nosotros"; }
    body .main-nosotros .titulo-nosotros {
      grid-area: titulo-nosotros;
      display: flex;
      justify-content: center;
      background-image: url(../image/logo/2b7b11_14.jpg); }
    body .main-nosotros .descripcion-nosotros {
      grid-area: descripcion-nosotros;
      background-color: #6b4d1f; }
      body .main-nosotros .descripcion-nosotros .quien {
        padding: 10px;
        margin: 5px;
        border: 3px black double;
        margin: 5px 3rem;
        display: flex;
        justify-content: center; }
      body .main-nosotros .descripcion-nosotros .somos {
        margin: 10px 3rem;
        background-color: burlywood;
        border: 3px black solid;
        display: flex;
        justify-content: center; }
    body .main-nosotros .nosotros-ubicacion {
      grid-area: nosotros-ubicacion;
      background-color: #412e11; }
      body .main-nosotros .nosotros-ubicacion .ubicaciones {
        display: flex;
        justify-content: center;
        justify-content: space-evenly; }
        body .main-nosotros .nosotros-ubicacion .ubicaciones .mapa {
          width: 600px;
          height: 400px;
          margin-top: 20px; }
    body .main-nosotros .empleados-nosotros {
      grid-area: empleados-nosotros;
      background-color: #6b4d1f; }
      body .main-nosotros .empleados-nosotros .empleados {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 20px; }
        body .main-nosotros .empleados-nosotros .empleados .img-peluqueros {
          width: 300px; }
  body footer {
    grid-area: footer;
    color: #9ba2a7;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px; }
  @media screen and (max-width: 480px) {
    body {
      /* main-index responsiv */
      /* main-tienda responsiv*/ }
      body .card {
        width: 180px;
        margin-top: 10px; }
      body .main-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas: "titulo-index titulo-index" "estilos-populares estilos-populares" "ofertas-destacadas ofertas-destacadas"; }
        body .main-index .titulo-index {
          grid-area: titulo-index;
          background-image: none;
          background: linear-gradient(to top, bisque, #f9d1a0);
          display: flex;
          justify-content: center;
          align-items: center; }
        body .main-index .estilos-populares {
          grid-area: estilos-populares; }
        body .main-index .productos {
          display: flex;
          flex-wrap: wrap;
          justify-content: start;
          justify-content: space-around; }
      body .main-tienda {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        grid-template-rows: 1fr auto auto auto auto auto;
        grid-auto-flow: row;
        grid-template-areas: "titulo-tienda titulo-tienda titulo-tienda" "filtros-tienda filtros-tienda filtros-tienda" "tienda-promociones tienda-promociones tienda-promociones" "tienda-geles tienda-geles tienda-geles" "tienda-tijeras tienda-tijeras tienda-tijeras" "tienda-tintes tienda-tintes tienda-tintes"; } }
