$color_fondo: rgb(250, 217, 176);
$color_fondo_claro: rgb(250, 228, 201);
$color_fondo_oscuro: rgb(65, 46, 17);
$color_fondo_marron: rgb(107, 77, 31);
$color_filtros: rgb(126, 126, 126);
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color_fondo;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h1{
        text-align: center;
        margin: 3rem;
    }
    h2{
        text-align: center;
    }
    ul{
        list-style: none;
        
    }
    a{
        text-decoration: none;
        color: rgb(38, 38, 35);
    }
    .titulos{
        background-color: $color_fondo_claro;
        margin: 0px;
        border: 3px rgb(74, 72, 72) solid;
        margin: 10px 40px ;
    
    }
    .productos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin: 10px;
        padding: 5px;
        .card{
            width: 17%  ;
            background-color: bisque;
            .card-title{
                font-family: 'Times New Roman', Times, serif;
                background-color: black;
                border-radius: 4px;
                color: beige;
                text-align: center;
            }
        }
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1.5fr 1.5fr;
        grid-auto-flow: row;
        grid-template-areas:
            "cabeza cabeza cabeza cabeza"
            "imagenlogo menu menu menu"
            "imagenlogo menu menu menu";
        .cabeza{
            grid-area: cabeza;
            background-color: rgb(65, 46, 17);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .buscador{
                border-radius: 2210px;
                width: 400px;
                height: 50px;
            }
            .lista{
                list-style: none;
                display: flex;
                flex-direction: row;
            }
            .redes-sociales{
                justify-content: center;
                align-items: end;
                .redes{
                    width: 40px;
                }                
            }
        }
        .imagenlogo { grid-area: imagenlogo; 
            display: flex;
            justify-content: end;
            background-color:rgb(249, 209, 160);
            .logo{
                margin: 4px;
                border: 4px rgb(65, 46, 17) double;
                border-radius: 50%;
                width: 200px;
            }
        }
        .menu { grid-area: menu; 
            display: flex;
            align-items: center;
            justify-content: start;
            background-color:rgb(249, 209, 160) ;
            .navegacion-li{
                padding: 25px;
                margin-left: 12rem;
                border: rgb(65, 46, 17) 2px solid;
                border-radius: 10px;
                
            }
            .nav-link{
                color: black;
            }
            
        }
    }
    .main-index {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 0.7fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-index titulo-index titulo-index"
          "estilos-populares estilos-populares estilos-populares"
          "ofertas-destacadas ofertas-destacadas ofertas-destacadas";
        
        .titulo-index{
            grid-area: titulo-index;
            background-image: url(../image/logo/2b7b11_14.jpg);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .estilos-populares { grid-area: estilos-populares;
            background-color:  $color_fondo_marron;
            
            .cortes{
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-content: space-evenly;
                
                .carousel{
                    width: 750px ;
                    margin-top: 2rem;
                    .color-carrusel{
                        color: rgb(0, 0, 0);
                        background-color: $color_fondo_claro;
                    }
                }
            } 
        
        }
        .ofertas-destacadas { grid-area: ofertas-destacadas; 
            background-color: $color_fondo_oscuro;
            padding-top: 2rem;

        }
    }
    .main-estilos {  display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-estilos titulo-estilos titulo-estilos titulo-estilos titulo-estilos"
          "filtros estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino"
          "filtros estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino";
        
        .titulo-estilos{
            grid-area: titulo-estilos;
            background-image: url(../image/logo/2b7b11_14.jpg);
            display: flex;
            justify-content: center;
        }
        .filtros { grid-area: filtros; 
            background-color: $color_filtros;
        }
        .estilos-corte-masculino { grid-area: estilos-corte-masculino; 
            background-color: $color_fondo_oscuro;
        }
        .estilos-corte-femenino { grid-area: estilos-corte-femenino; 
            background-color: $color_fondo_marron;
        }
        
    }
    .main-tienda {  display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-tienda titulo-tienda titulo-tienda titulo-tienda titulo-tienda"
          "filtros-tienda tienda-promociones tienda-promociones tienda-promociones tienda-promociones"
          "filtros-tienda tienda-geles tienda-geles tienda-geles tienda-geles"
          "filtros-tienda tienda-tijeras tienda-tijeras tienda-tijeras tienda-tijeras"
          "filtros-tienda tienda-tintes tienda-tintes tienda-tintes tienda-tintes";
        
        .titulo-tienda{
            grid-area: titulo-tienda;
            background-image: url(../image/logo/2b7b11_14.jpg);
            display: flex;
            justify-content: center;
        }
        .filtros-tienda { grid-area: filtros-tienda; 
            background-color: $color_filtros;
        }
        .tienda-promociones { grid-area: tienda-promociones; 
            background-color: $color_fondo_oscuro ;
        }
        .tienda-geles { grid-area: tienda-geles; 
            background-color: $color_fondo_marron;
        }
        .tienda-tijeras { grid-area: tienda-tijeras; 
            background-color: $color_fondo_oscuro;
        }
        .tienda-tintes { grid-area: tienda-tintes; 
            background-color: $color_fondo_marron;
        }
    }
    .main-turnos {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  auto 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-turnos titulo-turnos titulo-turnos titulo-turnos"
          "costado-izquierdo formulario formulario costado-derecho"
          "costado-izquierdo formulario formulario costado-derecho"
          "costado-izquierdo formulario formulario costado-derecho";
        
        .titulo-turnos { grid-area: titulo-turnos; 
            background-image: url(../image/logo/2b7b11_14.jpg);    
        }
        .costado-izquierdo { grid-area: costado-izquierdo; 
        
        }
        .costado-derecho { grid-area: costado-derecho; 
        }
        .formulario { grid-area: formulario; 
            background-color: $color_fondo_oscuro ;
            color: $color_fondo;
            margin: 40px 10px ;
            padding: 10px 30px;
            border-radius: 10px;
            .enviar{
                display: flex;
                justify-content: center;
                margin-top: 20px ;
            }
        }
    }
    .main-nosotros {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-nosotros titulo-nosotros titulo-nosotros titulo-nosotros"
          "descripcion-nosotros descripcion-nosotros descripcion-nosotros descripcion-nosotros"
          "nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion"
          "empleados-nosotros empleados-nosotros empleados-nosotros empleados-nosotros";
      
        .titulo-nosotros { grid-area: titulo-nosotros; 
            display: flex;
            justify-content: center;
            background-image: url(../image/logo/2b7b11_14.jpg);
        }
        .descripcion-nosotros { grid-area: descripcion-nosotros;
            background-color: $color_fondo_marron;
            .quien{
                padding: 10px;
                margin: 5px;
                border: 3px black double;
                margin: 5px 3rem;
                display: flex;
                justify-content: center;
            }
            .somos{
                margin: 10px 3rem ;
                background-color: burlywood;
                border: 3px black solid;
                display: flex;
                justify-content: center;
            } 
        }
      
        .nosotros-ubicacion { grid-area: nosotros-ubicacion; 
            background-color: $color_fondo_oscuro;
            .ubicaciones{
                display: flex;
                justify-content: center;
                justify-content: space-evenly;
                
                .mapa{
                    width: 600px;
                    height: 400px;
                    margin-top: 20px;
                }
            }
        }
      
        .empleados-nosotros { grid-area: empleados-nosotros; 
            background-color: $color_fondo_marron;
            .empleados{
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-content: space-evenly;
                margin-top: 20px;
                .img-peluqueros{
                    width: 300px;
                }
            }
        }
    }
      

    footer{
        grid-area: footer; 
        color: rgb(155, 162, 167);
        background-color: black;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        padding: 10px;
    }
    
    @media screen and (max-width: 480px) {
        .card{
            width: 180px;
            margin-top: 10px;
            
        }
        /* main-index responsiv */
        .main-index {  display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-auto-columns: 1fr;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-index titulo-index"
              "estilos-populares estilos-populares"
              "ofertas-destacadas ofertas-destacadas";
            .titulo-index { grid-area: titulo-index; 
                background-image: none;
                background: linear-gradient(to top, bisque, rgb(249, 209, 160));
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .estilos-populares { grid-area: estilos-populares;
            }
            .productos{
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                justify-content: space-around;
            }
        }
        /* main-tienda responsiv*/
        .main-tienda {  display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: 1fr auto auto auto auto auto;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-tienda titulo-tienda titulo-tienda"
              "filtros-tienda filtros-tienda filtros-tienda"
              "tienda-promociones tienda-promociones tienda-promociones"
              "tienda-geles tienda-geles tienda-geles"
              "tienda-tijeras tienda-tijeras tienda-tijeras"
              "tienda-tintes tienda-tintes tienda-tintes";
        }
    }
}